html,body{
    width: 100%;
    height: 100%;
}
#login_z{
    // display: flex;
    width: 100%;
    height: 100%;
    .login_z_head{
        display: flex;
        flex-direction: column;
        height: 100px;
        padding: 0 60px;
        background: #CD1317;
        h2{
            text-align: center;
            line-height: 100px;
            font-size: 40px;
            font-weight: normal;
            color: aliceblue;
        }
    }
    p{
        font-size: 30px;
        text-align: center;
        line-height: 60px;
    }
    .login_z_main{
        height: 500px;
        padding: 20px;
        background: #F8F8F8;
        .user{
            width: 100%;
            height: 76px;
            margin-bottom: 30px;
            // line-height: 100px;
            input{
                width: 100%;
                height: 70px;
                line-height: 70px;
                font-size: 30px;
            }
        }
        .psd{
            width: 100%;
            height: 76px;
            margin-bottom: 30px;
            input{
                width: 100%;
                height: 70px;
                line-height: 70px;
                font-size: 30px;
            }
        }
        .savePsd{
            margin-bottom: 20px;
            font-size: 30px;
            .ant-checkbox-inner{
                width: 30px;
                height: 30px;
            }
        }
        .loginIn{
            width: 100%;
            height: 76px;
            Button{
                width: 100%;
                height: 70px;
                line-height: 70px;
                border: 0px;
                font-size: 30px;
                // background: #999999;
                color: #ffff;
            }
        }
    }
    .beizhu{
    }
    
}