html,body,#app{
    height: 100%;
    width: 100%;
}
#viewhistory_cts{
    height: 100%;
    display: flex;
    flex-direction:column;
    font-size:30px;
    .viewhistory_top{
        height: 90px;
        
        .header{
            position: relative;
            border-bottom: 1px solid #eee;
            h3{
                i{
                    float: left;
                    margin-top:30px;
                    margin-left:20px;
                }
                text-align: center;
                height: 90px;
                line-height: 90px;
                background: #fcfbfb;
            }
            span{
                position: absolute;
                right: 20px;
                top:30px;
            }
        }
    }
    .viewhistory_footer{
        flex: 1;
        overflow-x: hidden;
        background-color:#F7F7F7;
        .viewhistory_all{
            background: #fff;
            display: flex;
            padding: 20px;
            margin-bottom: 20px;
            .left{
                width: 150px;
                height: 150px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .rigth{
                flex: 1;
                padding-left:30px;
                position: relative;
                p{
                    height: 50px;
                    line-height: 50px;
                }
                .cost{
                    text-decoration:line-through;
                }
                span{
                    display: block;
                }
               >i{
                   position: absolute;
                   right: 20px;
                   top:50%;
                   margin-top:-20px;
               }
            }
        }
    }
}