.ant-tabs-content{
    // background-color:#F7F7F7;
    padding-top:30px;
    .collect_all{
        background: #fff;
        display: flex;
        padding: 20px;
        margin-bottom: 30px;
    }
}
.ant-tabs-nav-wrap{
    // display: flex;
    .ant-tabs-nav-scroll{
        height: 90px;
        background-color:#fff;
       
    }
    .ant-tabs-tab{
        // flex: 1;
        width: 360px;
        height: 90px;
        line-height: 90px;
        font-size:30px;
        text-align: center;
    }
}

.manegeorder{
    display: flex;
    padding:10px 20px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    .left{
        width: 150px;
        height: 150px;
    }
    .rigth{
        flex: 1;
        // padding:0 30px 0 10px;
        >p{
            padding-left: 20px;
        }
        span{
            display: block;
            padding: 0 20px;
        }
        .cost{
            text-decoration:line-through;
        }
    }
}